body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: navy;
}

#addBook, #bookList, #allbooks, #searchByYear {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}
