<html>

<head>
    <title>Book Reviews</title>
    <link rel="stylesheet" type="text/css" href="gitassignment.css">


</head>

<body>
    <h1>Book Reviews</h1>

    <!-- Add a div to input book data -->
    <div id="addBOOK">
        <h2>Add a Book</h2>
        <input type="text" id="bookTitle" placeholder="Book Title">
        <input type="text" id="Author" placeholder="Author Name">  
        <input type="text" id="publicationYear" placeholder="Publication Year">
    </div>

    <!-- Display books in this div -->
    <div id="bookList">
        <!-- Book data will be displayed here dynamically -->
    </div>

    
    <!-- Display books in this div -->
        <div id="allbooks">
        <!-- Book data will be displayed here dynamically -->
    </div>
<!-- Add a div to search for books by year -->
    <div id="searchByYear">
        <h2>Search Books by Year</h2>
        <input type="text" id="searchYear" placeholder="Enter Year">
    </div>

    <input type="text" id="Author" placeholder="Author Name (comma-separated)">
    
   
</body>

</html>